Repository moonstream-to/api, pull requests merged in 2021-10, with the labels that each got.

#300 CORS settings for status servers
  crawlers/server/main.go
  crawlers/server/sample.env
  db/server/main.go
  db/server/sample.env
Labels: db, crawlers

#301 Whale watch backend changes
  backend/moonstream/api.py
  backend/moonstream/providers/bugout.py
  backend/moonstream/routes/whales.py
Labels: backend

#302 Fixed CORS check in go status servers
  crawlers/server/main.go
  db/server/main.go
Labels: db, crawlers

#312 Landing improvements
  frontend/pages/index.js
  frontend/pages/product/index.js
  frontend/pages/welcome.js
  frontend/src/components/ConnectedButtons.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SplitWithImage.js
  frontend/src/core/hooks/hookCommon.js
  frontend/src/layouts/RootLayout.js
Labels: frontend

#319 Fix sync blocks logic
  crawlers/mooncrawl/mooncrawl/ethcrawler.py
Labels: crawlers, bug

#315 Timeout for node service shutdown
  crawlers/deploy/deploy.bash
  crawlers/deploy/ethereum-node.service
  db/deploy/moonstreamdb.service
  nodes/deploy/deploy.bash
  nodes/deploy/ethereum-node.service
Labels: infra
