Repository moonstream-to/api, pull requests merged in 2021-09, with the labels that each got.

#206 Added value to tags in ether
  crawlers/ethtxpool/main.go
Labels: crawlers

#222 Humbug reporter for moonstream crawlers
  crawlers/ethtxpool/main.go
  crawlers/ethtxpool/sample.env
  crawlers/mooncrawl/mooncrawl/__init__.py
  crawlers/mooncrawl/mooncrawl/ethcrawler.py
  crawlers/mooncrawl/mooncrawl/reporter.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/sample.env
  crawlers/mooncrawl/setup.py
Labels: crawlers

#208 Mixpanel improvements
  frontend/pages/index.js
  frontend/src/AppContext.js
  frontend/src/components/Scrollable.js
  frontend/src/core/hooks/index.js
  frontend/src/core/hooks/useAnalytics.js
  frontend/src/core/hooks/useLogin.js
  frontend/src/core/hooks/useLogout.js
  frontend/src/core/hooks/useSignUp.js
  frontend/src/core/hooks/useToast.js
  frontend/src/core/providers/AnalyticsProvider/constants.js
  frontend/src/core/providers/AnalyticsProvider/index.js
  frontend/src/core/providers/UIProvider/index.js
Labels: frontend

#220 Humbug reporter for moonstream backend
  backend/moonstream/__init__.py
  backend/moonstream/actions.py
  backend/moonstream/middleware.py
  backend/moonstream/providers/__init__.py
  backend/moonstream/reporter.py
  backend/moonstream/routes/address_info.py
  backend/moonstream/routes/streams.py
  backend/moonstream/routes/subscriptions.py
  backend/moonstream/routes/txinfo.py
  backend/moonstream/routes/users.py
  backend/moonstream/settings.py
  backend/requirements.txt
  backend/sample.env
  backend/setup.py
Labels: backend

#227 Store onboarding on backend
  backend/moonstream/actions.py
  backend/moonstream/data.py
  backend/moonstream/routes/users.py
  frontend/pages/welcome.js
  frontend/src/components/AppNavbar.js
  frontend/src/core/providers/UIProvider/index.js
  frontend/src/core/services/preferences.service.js
Labels: enhancement, frontend, backend

#240 Simple ping moonstream database service
  db/deploy/deploy.bash
  db/deploy/moonstreamdb.service
  db/server/go.mod
  db/server/main.go
Labels: db

#242 Build server Go script on machine
  db/deploy/deploy.bash
Labels: db

#243 Fixed executable path of moonstreamdb server
  db/deploy/moonstreamdb.service
Labels: db

#244 Added set eu for deploy
  db/deploy/deploy.bash
Labels: db

#247 HOME path missing when building with go deployment script
  db/deploy/deploy.bash
Labels: db

#249 Deployment script for crawlers
  crawlers/deploy/deploy.bash
  crawlers/deploy/ethereum-txpool.service
  crawlers/deploy/parameters.py
  crawlers/mooncrawl/requirements.txt
Labels: crawlers

#260 1k user banner
  frontend/src/components/LandingNavbar.js
  frontend/src/components/Navbar.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SignIn.js
  frontend/src/layouts/RootLayout.js
Labels: frontend

#262 dont show banner in app view
  frontend/src/layouts/RootLayout.js
Labels: frontend

#261 improve login/signup/logout and appLoading view
  frontend/src/components/LandingNavbar.js
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/styles.js
  frontend/src/components/stream-cards/EthereumWhalewatch.js
  frontend/src/core/hooks/useLogin.js
  frontend/src/core/hooks/useLogout.js
  frontend/src/core/hooks/useSignUp.js
  frontend/src/core/providers/UIProvider/index.js
  frontend/src/layouts/AppLayout.js
  frontend/src/layouts/RootLayout.js
Labels: frontend

#255 Add frontend side pagination.
  frontend/src/AppContext.js
  frontend/src/components/EntriesNavigation.js
  frontend/src/core/constants.js
  frontend/src/core/hooks/useStream.js
  frontend/src/core/hooks/useTxInfo.js
  frontend/src/core/providers/DataProvider/constants.js
  frontend/src/core/providers/DataProvider/context.js
  frontend/src/core/providers/DataProvider/index.js
  frontend/src/core/providers/JournalsProvider/context.js
  frontend/src/core/providers/JournalsProvider/index.js
  frontend/src/core/providers/StripeProvider/index.js
  frontend/src/core/providers/index.js
Labels: frontend

#267 Fixed path in deploy for crawlers
  crawlers/deploy/deploy.bash
Labels: crawlers

#269 Option to run block sync from current block at Ethereum
  crawlers/mooncrawl/mooncrawl/ethcrawler.py
Labels: crawlers

#275 Fixed missing params and added logger for sync crawler
  crawlers/deploy/ethereum-synchronize.service
  crawlers/mooncrawl/mooncrawl/ethcrawler.py
Labels: crawlers

#271 Token screen
  backend/moonstream/routes/users.py
  backend/requirements.txt
  backend/setup.py
  frontend/pages/account/security.js
  frontend/pages/account/tokens.js
  frontend/pages/analytics.js
  frontend/pages/index.js
  frontend/pages/product/index.js
  frontend/pages/register/index.js
  frontend/pages/stream/index.js
  frontend/pages/subscriptions.js
  frontend/pages/team/index.js
  frontend/pages/welcome.js
  frontend/src/Theme/Checkbox/index.js
  frontend/src/Theme/Heading.js
  frontend/src/Theme/Input/index.js
  frontend/src/Theme/Menu/index.js
  frontend/src/Theme/Spinner/index.js
  frontend/src/Theme/Tooltip/index.js
  frontend/src/Theme/theme.js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/ChangePassword.js
  frontend/src/components/ColorSelector.js
  frontend/src/components/ConfirmationRequest.js
  frontend/src/components/ConnectedButtons.js
  frontend/src/components/CopyButton.js
  frontend/src/components/EntriesNavigation.js
  frontend/src/components/Footer.js
  frontend/src/components/ForgotPassword.js
  frontend/src/components/HubspotForm.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/Modal/index.js
  frontend/src/components/Navbar.js
  frontend/src/components/NewSubscription.js
  frontend/src/components/NewTokenTr.js
  frontend/src/components/PasswordInput.js
  frontend/src/components/RadioCard.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SignIn.js
  frontend/src/components/SignUp.js
  frontend/src/components/SplitWithImage.js
  frontend/src/components/StreamEntry.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/components/Tags.js
  frontend/src/components/TokenList.js
  frontend/src/components/TokenRequest.js
  frontend/src/components/TokensList.js
  frontend/src/components/stream-cards/EthereumWhalewatch.js
  frontend/src/core/hooks/index.js
  frontend/src/core/hooks/useToast.js
  frontend/src/core/hooks/useTokens.js
  frontend/src/core/services/auth.service.js
  frontend/src/layouts/RootLayout.js
Labels: frontend, backend

#263 Improvements to "nft ethereum" crawlers
  backend/moonstream/api.py
  backend/moonstream/providers/bugout.py
  backend/moonstream/routes/nft.py
  backend/moonstream/routes/txinfo.py
  crawlers/mooncrawl/mooncrawl/nft/cli.py
  crawlers/mooncrawl/mooncrawl/nft/ethereum.py
  crawlers/mooncrawl/mooncrawl/publish.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/requirements.txt
  crawlers/mooncrawl/sample.env
  crawlers/mooncrawl/setup.py
Labels: backend, crawlers

#276 Token screen
  backend/moonstream/routes/users.py
  frontend/pages/account/tokens.js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/Sidebar.js
  frontend/src/components/TokensList.js
  frontend/src/core/hooks/useTokens.js
Labels: fix, enhancement, frontend, backend

#278 Moonstream architecture documentation
  docs/architecture.md
Labels: documentation

#282 Threads instead of pools, missing block cmd check num of transactions
  crawlers/mooncrawl/mooncrawl/ethcrawler.py
  crawlers/mooncrawl/mooncrawl/ethereum.py
  crawlers/mooncrawl/mooncrawl/version.py
  crawlers/mooncrawl/setup.py
Labels: crawlers

#236 Erc721 labels
  backend/moonstream/actions.py
  backend/moonstream/data.py
  backend/moonstream/routes/address_info.py
Labels: backend

#279 Token screen
  frontend/pages/account/tokens.js
  frontend/src/components/TokensList.js
Labels: enhancement, frontend

#293 Add ETHTXPOOL_HUMBUG_CLIENT_ID as env variable for escape desynchroni…
  backend/moonstream/providers/bugout.py
  backend/moonstream/settings.py
  backend/sample.env
Labels: backend

#295 discord link from aws
  frontend/src/layouts/RootLayout.js
Labels: frontend

#292 Status endpoints
  backend/moonstream/actions.py
  backend/moonstream/api.py
  backend/moonstream/data.py
  backend/moonstream/routes/users.py
  crawlers/deploy/deploy.bash
  crawlers/deploy/moonstreamcrawlers.service
  crawlers/server/dev.sh
  crawlers/server/go.mod
  crawlers/server/main.go
  crawlers/server/sample.env
  db/deploy/deploy.bash
  db/deploy/moonstreamdb.service
  db/server/dev.sh
  db/server/go.mod
  db/server/go.sum
  db/server/main.go
  db/server/sample.env
Labels: db, crawlers

#266 Moonstream Python client library
  .github/workflows/release.clients.python.yml
  .github/workflows/test.clients.python.yml
  clients/python/.gitignore
  clients/python/README.md
  clients/python/moonstream/__init__.py
  clients/python/moonstream/client.py
  clients/python/moonstream/test_client.py
  clients/python/setup.py
  clients/python/tag.bash
Labels: library

#256 Add tags support on backend
  backend/moonstream/providers/bugout.py
  backend/moonstream/providers/ethereum_blockchain.py
Labels: backend
