Repository moonstream-to/api, pull requests merged in 2021-12, with the labels that each got.

#480 Extended status page with nodes blocks
  frontend/pages/status/index.js
  frontend/sample.env
  frontend/src/core/hooks/useStatus.js
  frontend/src/core/services/status.service.js
Labels: frontend

#479 Apply information about blocks to stats report.
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
Labels: crawlers

#488 Fixed geth -> bor at status page
  frontend/pages/status/index.js
Labels: frontend

#475 Add event provider and rewrite existing provider.
  backend/moonstreamapi/admin/subscription_types.py
  backend/moonstreamapi/providers/__init__.py
  backend/moonstreamapi/providers/bugout.py
  backend/moonstreamapi/providers/ethereum_blockchain.py
  backend/moonstreamapi/providers/moonworm_provider.py
  backend/moonstreamapi/providers/transactions.py
  backend/moonstreamapi/routes/dashboards.py
  backend/moonstreamapi/routes/whales.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  db/moonstreamdb/blockchain.py
  db/moonstreamdb/version.py
  frontend/src/components/StreamEntry.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/components/stream-cards/Blockchain.js
  frontend/src/components/stream-cards/Smartcontract.js
  frontend/src/components/stream-cards/TXPool.js
  frontend/src/components/stream-cards/Whalewatch.js
  frontend/src/core/hooks/useStream.js
  frontend/src/core/hooks/useSubscriptions.js
Labels: frontend, backend, db

#497 moonstreamapi service change to localhost
  backend/deploy/moonstreamapi.service
Labels: backend

#477 Customized dashboard
  backend/moonstreamapi/admin/cli.py
  backend/moonstreamapi/admin/migrations/update_dashboard_subscription_key.py
  backend/moonstreamapi/data.py
  backend/moonstreamapi/routes/dashboards.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  frontend/package.json
  frontend/pages/dashboard/[dashboardId].js
  frontend/pages/index.js
  frontend/pages/status/index.js
  frontend/src/Theme/theme.js
  frontend/src/components/AddNewIconButton.js
  frontend/src/components/AutoCompleter.js
  frontend/src/components/CheckboxABI.js
  frontend/src/components/CheckboxGrouped.js
  frontend/src/components/NewDashboard.js
  frontend/src/components/NewDashboardChart.js
  frontend/src/components/NewDashboardName.js
  frontend/src/components/Report.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SubscriptionReport.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/components/TxInfo.js
  frontend/src/components/stream-cards/Smartcontract.js
  frontend/src/core/constants.js
  frontend/src/core/hooks/index.js
  frontend/src/core/hooks/useDashboard.js
  frontend/src/core/hooks/usePresignedURL.js
  frontend/src/core/hooks/useSubscription.js
  frontend/src/core/hooks/useToast.js
  frontend/src/core/providers/OverlayProvider/constants.js
  frontend/src/core/providers/OverlayProvider/index.js
  frontend/src/core/providers/UIProvider/index.js
  frontend/src/core/providers/UserProvider/index.js
  frontend/src/core/services/dashboard.service.js
  frontend/src/core/services/subscriptions.service.js
  frontend/src/core/utils/NameGen.js
  frontend/src/layouts/AppLayout.js
  frontend/styles/sidebar.css
Labels: frontend, backend, crawlers

#499 Added Yhtyyar's surname
  frontend/pages/team/index.js
Labels: frontend

#500 Fix - Polygon syncronize crawler works in multi threads
  crawlers/deploy/polygon-synchronize.service
Labels: crawlers

#509 Improve dashboard performance
  frontend/package.json
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/AutoCompleter.js
  frontend/src/components/CheckboxABI.js
  frontend/src/components/CheckboxGrouped.js
  frontend/src/components/Footer.js
  frontend/src/components/Report.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SubscriptionReport.js
  frontend/src/core/providers/UIProvider/index.js
Labels: fix, enhancement, frontend

#507 Load balancer for nodes
  nodes/deploy/deploy.bash
  nodes/deploy/node-balancer.service
  nodes/deploy/parameters.py
  nodes/node_balancer/README.md
  nodes/node_balancer/cmd/balancer.go
  nodes/node_balancer/cmd/data.go
  nodes/node_balancer/cmd/middleware.go
  nodes/node_balancer/cmd/routes.go
  nodes/node_balancer/cmd/server.go
  nodes/node_balancer/configs/settings.go
  nodes/node_balancer/configs/version.go
  nodes/node_balancer/go.mod
  nodes/node_balancer/go.sum
  nodes/node_balancer/main.go
  nodes/node_balancer/sample.env
Labels: infra

#511 Checkenv parameters
  backend/configs/sample.env
  backend/deploy/deploy.bash
  backend/deploy/nodes-connections.bash
  backend/deploy/parameters.bash
  backend/moonstreamapi/settings.py
  backend/moonstreamapi/web3_provider.py
  crawlers/deploy/deploy.bash
  crawlers/deploy/nodes-connections.bash
  crawlers/deploy/parameters.bash
  crawlers/mooncrawl/mooncrawl/blockchain.py
  crawlers/mooncrawl/mooncrawl/nft/cli.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/sample.env
  crawlers/txpool/configs/settings.go
  crawlers/txpool/sample.env
Labels: backend, crawlers, infra

#513 Fix time range button not working in dashboard
  frontend/pages/dashboard/[dashboardId].js
Labels: fix, frontend

#514 Day timerange as default.
  frontend/pages/dashboard/[dashboardId].js
Labels: frontend

#512 Moonstream crawlers service for HTTP API server
  backend/configs/sample.env
  crawlers/deploy/deploy.bash
  crawlers/deploy/mooncrawl.service
Labels: crawlers
