Repository moonstream-to/api, pull requests merged in 2021-11, with the labels that each got.

#350 Improve loading speed
  frontend/pages/_app.js
  frontend/pages/index.js
Labels: enhancement, frontend

#351 Abi upload with code editor block in modal
  frontend/package.json
  frontend/src/components/NewSubscription.js
  frontend/src/components/RadioCard.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/components/UploadABI.js
  frontend/src/core/providers/OverlayProvider/constants.js
  frontend/src/core/providers/OverlayProvider/index.js
  frontend/yarn.lock
Labels: enhancement, frontend

#349 Checksum address in subscriptions
  backend/moonstream/admin/cli.py
  backend/moonstream/admin/migrations/__init__.py
  backend/moonstream/admin/migrations/checksum_address.py
  backend/moonstream/admin/subscription_types.py
  backend/moonstream/routes/subscriptions.py
Labels: backend

#367 Removed unnecessary flag at service crawler
  crawlers/deploy/ethereum-txpool.service
Labels: fix

#369 Drop pending tx table
  db/alembic/env.py
  db/alembic/versions/3d55105b0603_drop_pending_tx_table.py
  db/moonstreamdb/models.py
Labels: db

#370 Polygon model
  db/alembic/env.py
  db/alembic/versions/f991fc7493c8_polygon_models.py
  db/moonstreamdb/models.py
  db/moonstreamdb/version.py
Labels: db

#372 Landing improvements
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/docs.js
  frontend/pages/index.js
  frontend/pages/product/index.js
  frontend/pages/whitepapers.js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/ConnectedButtons.js
  frontend/src/components/DragOnGrid.js
  frontend/src/components/Footer.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/Navbar.js
  frontend/src/components/SchematicPlayground.js
  frontend/src/components/Scrollable.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SignIn.js
  frontend/src/components/SplitWithImage.js
  frontend/src/components/TrustedBadge.js
  frontend/src/core/constants.js
  frontend/src/core/services/stream.service.js
  frontend/src/core/utils/http.js
  frontend/src/core/utils/mockupRequests.js
  frontend/src/layouts/InfoPageLayout.js
  frontend/src/layouts/LandingLayout.js
  frontend/styles/styles.css
  frontend/yarn.lock
Labels: enhancement, frontend

#352 fix filter not woroking on tokens screen
  frontend/src/components/TokensList.js
Labels: bug

#363 solve circular redirects
  frontend/pages/_app.js
  frontend/pages/entry-point.js
  frontend/src/layouts/EntryPointLayout.js
Labels: enhancement, frontend

#342 Add abi url to moonstream subscriptions
  backend/moonstream/actions.py
  backend/moonstream/admin/cli.py
  backend/moonstream/admin/migrations/1_add_abi_backet_and_s3_path.json
  backend/moonstream/admin/subscriptions.py
  backend/moonstream/data.py
  backend/moonstream/routes/subscriptions.py
  backend/moonstream/settings.py
  backend/sample.env
Labels: backend

#379 upload abi to backend
  frontend/pages/index.js
  frontend/pages/subscriptions.js
  frontend/src/components/AddNewIconButton.js
  frontend/src/components/ForgotPassword.js
  frontend/src/components/HubspotForm.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/NewDashboard.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SignIn.js
  frontend/src/components/SignUp.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/components/UploadABI.js
  frontend/src/core/hooks/useToast.js
  frontend/src/core/providers/OverlayProvider/index.js
  frontend/src/core/services/subscriptions.service.js
Labels: frontend

#343 Dashboard endpoint
  backend/moonstream/actions.py
  backend/moonstream/api.py
  backend/moonstream/data.py
  backend/moonstream/routes/dashboards.py
  backend/moonstream/settings.py
  backend/moonstream/test_actions_abi_validations.py
Labels: backend

#387 Dashboard creation and page
  crawlers/mooncrawl/mooncrawl/contract/__init__.py
  crawlers/mooncrawl/mooncrawl/contract/cli.py
  crawlers/mooncrawl/mooncrawl/contract/deployment_crawler.py
  crawlers/mooncrawl/mooncrawl/contract/test_deployment_crawler.py
  crawlers/mooncrawl/requirements.txt
  crawlers/mooncrawl/setup.py
  db/alembic/env.py
  db/alembic/versions/3d55105b0603_drop_pending_tx_table.py
  db/alembic/versions/f991fc7493c8_polygon_models.py
  db/moonstreamdb/models.py
  db/moonstreamdb/version.py
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/dashboard/[dashboardId].js
  frontend/pages/docs.js
  frontend/pages/entry-point.js
  frontend/pages/index.js
  frontend/pages/product/index.js
  frontend/pages/stream/index.js
  frontend/pages/whitepapers.js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/ConnectedButtons.js
  frontend/src/components/DragOnGrid.js
  frontend/src/components/EntriesNavigation.js
  frontend/src/components/Footer.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/NewDashboard.js
  frontend/src/components/NewSubscription.js
  frontend/src/components/SchematicPlayground.js
  frontend/src/components/Scrollable.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SignIn.js
  frontend/src/components/SplitWithImage.js
  frontend/src/components/TokensList.js
  frontend/src/components/TrustedBadge.js
  frontend/src/components/UploadABI.js
  frontend/src/core/constants.js
  frontend/src/core/hooks/useDashboard.js
  frontend/src/core/providers/OverlayProvider/index.js
  frontend/src/core/services/dashboard.service.js
  frontend/src/core/services/index.js
  frontend/src/core/services/stream.service.js
  frontend/src/core/utils/http.js
  frontend/src/core/utils/mockupRequests.js
  frontend/src/layouts/EntriesLayout.js
  frontend/src/layouts/EntryPointLayout.js
  frontend/src/layouts/InfoPageLayout.js
  frontend/src/layouts/LandingLayout.js
  frontend/styles/styles.css
  frontend/yarn.lock
Labels: enhancement, frontend

#389 Dashboard component
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/AddNewIconButton.js
  frontend/src/components/RangeSelector.js
  frontend/src/core/hooks/useDashboard.js
  frontend/src/core/hooks/useWindowSize.js
  frontend/src/core/providers/OverlayProvider/index.js
  frontend/src/core/services/dashboard.service.js
Labels: enhancement, frontend

#392 Fix logo
  frontend/src/components/AppNavbar.js
  frontend/src/core/constants.js
Labels: enhancement, frontend

#395 CHARTS!
  frontend/package.json
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/Report.js
  frontend/src/components/SubscriptionReport.js
  frontend/src/core/hooks/useDashboard.js
  frontend/src/core/hooks/usePresignedURL.js
  frontend/src/core/services/dashboard.service.js
  frontend/src/core/utils/mockupRequests.js
  frontend/yarn.lock
Labels: enhancement, frontend

#398 Missing block finder automatization
  crawlers/deploy/deploy.bash
  crawlers/deploy/ethereum-missing.service
  crawlers/deploy/ethereum-missing.timer
  crawlers/deploy/polygon-missing.service
  crawlers/deploy/polygon-missing.timer
  crawlers/mooncrawl/mooncrawl/crawler.py
Labels: crawlers

#399 Nodes deployment organized with drones structure
  crawlers/deploy/deploy.bash
  crawlers/deploy/moonstreamcrawlers.service
  crawlers/deploy/polygon-synchronize.service
  crawlers/mooncrawl/mooncrawl/crawler.py
  crawlers/server/configs/settings.go
  crawlers/server/go.mod
  nodes/deploy/ethereum/deploy.bash
  nodes/deploy/ethereum/geth.service
  nodes/deploy/ethereum/moonstreamnodes.service
  nodes/deploy/ethereum/nodes-connections.bash
  nodes/deploy/ethereum/parameters.bash
  nodes/deploy/polygon/deploy.bash
  nodes/deploy/polygon/moonstreamnodes.service
  nodes/deploy/polygon/nodes-connections.bash
  nodes/deploy/polygon/parameters.bash
  nodes/server/cmd/data.go
  nodes/server/cmd/middlewares.go
  nodes/server/cmd/routes.go
  nodes/server/cmd/server.go
  nodes/server/configs/settings.go
  nodes/server/dev.sh
  nodes/server/go.mod
  nodes/server/main.go
  nodes/server/sample.env
Labels: deployment, infra

#390 Add abi_hash on subscription level.
  backend/moonstreamapi/actions.py
  backend/moonstreamapi/routes/dashboards.py
  backend/moonstreamapi/routes/subscriptions.py
Labels: backend

#391 Stats data worker
  crawlers/mooncrawl/dev.sh
  crawlers/mooncrawl/mooncrawl/api.py
  crawlers/mooncrawl/mooncrawl/blockchain.py
  crawlers/mooncrawl/mooncrawl/data.py
  crawlers/mooncrawl/mooncrawl/middleware.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/mooncrawl/stats_worker/__init__.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  crawlers/mooncrawl/mooncrawl/version.py
  crawlers/mooncrawl/sample.env
  crawlers/mooncrawl/setup.py
Labels: crawlers

#403 Dashboard worker fixes
  backend/moonstreamapi/admin/subscription_types.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
Labels: backend, crawlers

#404 Front fixes
  frontend/src/components/NewDashboard.js
  frontend/src/components/Report.js
  frontend/src/components/SubscriptionReport.js
  frontend/src/core/services/dashboard.service.js
Labels: frontend

#411 Fix sign up alpha
  frontend/pages/index.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/Sidebar.js
  frontend/src/components/SignIn.js
Labels: frontend

#416 Prevent user-data script fall
  nodes/deploy/polygon/deploy.bash
Labels: infra

#424 Add dashboard stats front fixes.
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  frontend/src/components/SubscriptionReport.js
  frontend/src/core/utils/mockupRequests.js
Labels: frontend

#427 Removed specific listening port for ndoe server and don't start geth
  nodes/deploy/ethereum/deploy.bash
  nodes/deploy/ethereum/geth.service
Labels: infra

#440 Return of the stream
  frontend/pages/stream/index.js
  frontend/src/components/EntriesNavigation.js
  frontend/src/components/Report.js
  frontend/src/components/Sidebar.js
  frontend/src/layouts/EntriesLayout.js
Labels: enhancement, frontend

#442 commented out redirect on onboarding not complete
  frontend/src/core/providers/UIProvider/index.js
Labels: frontend

#439 use updated color keys in range selector styling
  frontend/src/components/RangeSelector.js
Labels: enhancement, frontend

#438 using correct callback to close newDashboard drawer
  frontend/src/core/providers/OverlayProvider/index.js
Labels: frontend

#444 Welcome page content improvements
  frontend/pages/welcome.js
Labels: enhancement

#445 fix login and signup modal call from sidebar
  frontend/src/components/Sidebar.js
Labels: fix, frontend

#446 Imrove dashboard responsivness
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/Report.js
  frontend/src/components/SubscriptionReport.js
Labels: enhancement, frontend

#447 better wrapping
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/SubscriptionReport.js
Labels: frontend

#450 reorder sidebar footer
  frontend/src/components/Sidebar.js
Labels: frontend

#449 Improve status page
  frontend/pages/status/index.js
  frontend/src/core/hooks/useStatus.js
Labels: enhancement, frontend

#448 better image sizing on SplitWithImage components
  frontend/src/components/SplitWithImage.js
Labels: enhancement, frontend

#452 Add apply of filters.
  backend/moonstreamapi/routes/dashboards.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
Labels: backend, crawlers

#461 fix abi upload from drawer
  frontend/src/components/NewDashboard.js
Labels: frontend, bug

#466 fix query keys to be correct to stop refetches
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/SubscriptionReport.js
Labels: fix, frontend

#462 Small fixes and large pack pass temp solution
  crawlers/txpool/cmd/data.go
  crawlers/txpool/cmd/txpool.go
  crawlers/txpool/configs/settings.go
  crawlers/txpool/main.go
  crawlers/txpool/sample.env
Labels: crawlers

#457 Client create stream
  .github/workflows/test.clients.python.yml
  backend/.isort.cfg
  backend/moonstreamapi/data.py
  backend/moonstreamapi/providers/__init__.py
  backend/moonstreamapi/providers/ethereum_blockchain.py
  backend/moonstreamapi/stream_boundaries.py
  backend/moonstreamapi/test_stream_boundaries.py
  clients/python/.isort.cfg
  clients/python/README.md
  clients/python/moonstream/client.py
  clients/python/moonstream/version.py
  clients/python/setup.py
Labels: backend, library
