Repository moonstream-to/api, pull requests merged in 2021-08, with the labels that each got.

#45 Improved speed for missing blocks command check
  crawlers/moonstreamcrawlers/cli.py
  crawlers/moonstreamcrawlers/ethereum.py
Labels: crawlers

#54 Add labels and times
  backend/moonstream/api.py
  backend/moonstream/data.py
  backend/moonstream/routes/streams.py
  frontend/src/components/StreamEntry.js
Labels: backend, frontend

#49 Fixing txinfo
  backend/moonstream/data.py
  frontend/pages/stream/[entryId].js
  frontend/src/components/StreamEntry.js
  frontend/src/components/TxInfo.js
  frontend/src/core/hooks/index.js
  frontend/src/core/hooks/useTxCache.js
  frontend/src/core/hooks/useTxInfo.js
Labels: backend, frontend

#56 Fix moonstream cli
  backend/moonstream/cli.py
  backend/requirements.txt
  backend/setup.py
Labels: backend

#75 Minor changes, nprogress bar, color picker, linter fixes
  frontend/pages/_app.js
  frontend/pages/index.js
  frontend/pages/stream/[entryId].js
  frontend/src/components/AccountIconButton.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/ColorSelector.js
  frontend/src/components/NewSubscription.js
  frontend/src/components/StreamEntry.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/core/hooks/index.js
  frontend/src/core/hooks/useSubscriptions.js
  frontend/src/core/hooks/useTxCache.js
  frontend/src/core/hooks/useTxInfo.js
  frontend/src/core/providers/AnalyticsProvider/index.js
  frontend/src/core/providers/UIProvider/index.js
  frontend/src/core/services/subscriptions.service.js
  frontend/src/core/utils/makeColor.js
  frontend/styles/nprogress.css
Labels: frontend

#99 Cards improvement
  frontend/pages/stream/index.js
  frontend/pages/subscriptions.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/EntriesNavigation.js
  frontend/src/components/SteamEntryDetails.js
  frontend/src/components/StreamEntry.js
  frontend/src/components/TxInfo.js
  frontend/src/core/hooks/useStream.js
  frontend/src/core/hooks/useTxInfo.js
  frontend/src/core/providers/UIProvider/index.js
  frontend/src/layouts/EntriesLayout.js
  frontend/styles/styles.css
Labels: frontend

#101 Register page
  frontend/pages/register/index.js
Labels: frontend

#107 Fixed parser to work with labels properly to get coinmarketcap
  backend/moonstream/actions.py
  backend/moonstream/data.py
  backend/moonstream/routes/txinfo.py
  crawlers/mooncrawl/identity.py
  crawlers/sample.env
Labels: crawlers

#115 Unique const for addr in ethereum_address table
  db/alembic/versions/ea8185bd24c7_unique_const_for_addr.py
  db/moonstreamdb/models.py
Labels: db

#93 Ethscan crawler
  crawlers/mooncrawl/etherscan.py
  crawlers/mooncrawl/settings.py
  crawlers/mooncrawl/version.py
  crawlers/sample.env
  crawlers/setup.py
Labels: crawlers

#117 entry details will better fit in to split view
  frontend/src/components/SteamEntryDetails.js
  frontend/src/components/TxInfo.js
Labels: frontend

#116 Signup onboarding flow
  frontend/pages/_app.js
  frontend/pages/stream/index.js
  frontend/pages/subscriptions.js
  frontend/pages/welcome.js
  frontend/src/Theme/Spinner/index.js
  frontend/src/Theme/Tooltip/index.js
  frontend/src/Theme/theme.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/EntriesNavigation.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/NewModalSubscripton.js
  frontend/src/components/NewSubscription.js
  frontend/src/components/RouteButton.js
  frontend/src/components/Sidebar.js
  frontend/src/components/StepProgress.js
  frontend/src/components/StreamEntry.js
  frontend/src/components/SubscriptionsList.js
  frontend/src/components/TxInfo.js
  frontend/src/core/hooks/useSignUp.js
  frontend/src/core/providers/AnalyticsProvider/constants.js
  frontend/src/core/providers/UIProvider/index.js
Labels: frontend

#129 Product team pages
  frontend/pages/product/index.js
  frontend/pages/register/index.js
  frontend/pages/team/index.js
  frontend/src/components/AccountNavbar.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/constants.js
  frontend/src/core/constants.js
Labels: frontend

#130 favicon update
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/src/components/Modal/index.js
Labels: frontend

#133 Landing improvements
  frontend/pages/index.js
  frontend/src/components/SplitWithImage.js
Labels: frontend

#135 split stream card to ethereum card and wrapper
  frontend/src/components/StreamEntry.js
  frontend/src/components/stream-cards/EthereumMempool.js
Labels: frontend

#139 Smartcontract source info
  backend/moonstream/actions.py
  backend/moonstream/data.py
  backend/moonstream/routes/txinfo.py
  backend/moonstream/settings.py
  frontend/src/components/ContractSource.js
  frontend/src/components/TxInfo.js
Labels: frontend, backend

#146 Onboarding content improvement
  frontend/pages/welcome.js
  frontend/src/components/NewModalSubscripton.js
  frontend/src/components/NewSubscription.js
Labels: documentation

#149 Footer: added about, product, blog, text change
  frontend/src/components/Footer.js
Labels: frontend

#150 Product page: content and background image
  frontend/pages/product/index.js
Labels: frontend

#152 Team page: team illustration, paddings
  frontend/pages/team/index.js
Labels: frontend

#159 Mypy fixes
  .github/workflows/lint.backend.yml
  .github/workflows/lint.crawlers.yml
  .github/workflows/lint.db.yml
  backend/moonstream/actions.py
  backend/moonstream/routes/txinfo.py
  backend/moonstream/settings.py
  crawlers/mooncrawl/ethcrawler.py
  crawlers/mooncrawl/ethereum.py
  crawlers/mooncrawl/etherscan.py
  crawlers/mooncrawl/test_cli.py
  crawlers/setup.py
Labels: backend, db, crawlers

#154 Smartcontract source info fix
  backend/moonstream/actions.py
  backend/moonstream/routes/txinfo.py
  backend/moonstream/settings.py
  backend/sample.env
Labels: backend

#164 Try fix client side exception
  frontend/src/components/CopyButton.js
  frontend/src/core/hooks/useForgotPassword.js
  frontend/src/core/hooks/useLogout.js
Labels: frontend

#156 Navbar logo: changed logo
  frontend/pages/index.js
  frontend/pages/product/index.js
  frontend/pages/team/index.js
  frontend/src/components/AppNavbar.js
  frontend/src/components/LandingNavbar.js
  frontend/src/components/Sidebar.js
  frontend/src/core/constants.js
Labels: frontend

#165 Team page: add marketing list spacing and uncap
  frontend/pages/team/index.js
Labels: frontend

#138 Go transaction pool crawler
  .github/workflows/lint.crawlers.yml
  crawlers/deploy/ethereum-trending.service
  crawlers/ethtxpool/.gitignore
  crawlers/ethtxpool/go.mod
  crawlers/ethtxpool/go.sum
  crawlers/ethtxpool/main.go
  crawlers/ethtxpool/sample.env
  crawlers/mooncrawl/.mooncrawl/bin/python
  crawlers/mooncrawl/.mooncrawl/bin/python3
  crawlers/mooncrawl/.mooncrawl/bin/python3.9
  crawlers/mooncrawl/.mooncrawl/lib64
  crawlers/mooncrawl/.mooncrawl/pyvenv.cfg
  crawlers/mooncrawl/README.md
  crawlers/mooncrawl/mooncrawl/__init__.py
  crawlers/mooncrawl/mooncrawl/esd.py
  crawlers/mooncrawl/mooncrawl/ethcrawler.py
  crawlers/mooncrawl/mooncrawl/ethereum.py
  crawlers/mooncrawl/mooncrawl/etherscan.py
  crawlers/mooncrawl/mooncrawl/identity.py
  crawlers/mooncrawl/mooncrawl/publish.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/mooncrawl/test_cli.py
  crawlers/mooncrawl/mooncrawl/version.py
  crawlers/mooncrawl/mypy.ini
  crawlers/mooncrawl/sample.env
  crawlers/mooncrawl/setup.py
Labels: crawlers

#167 onboarding stream sceen StreamEntry card props
  frontend/src/components/StreamEntry.js
Labels: frontend

#169 Fixing welcome page
  frontend/pages/welcome.js
Labels: fix, frontend

#168 Support for Ethereum transaction pool data
  backend/moonstream/admin/cli.py
  backend/moonstream/admin/subscription_types.py
  backend/moonstream/providers/__init__.py
  backend/moonstream/providers/bugout.py
  frontend/src/components/ContractSource.js
  frontend/src/components/StreamEntry.js
  frontend/src/components/TxInfo.js
  frontend/src/components/stream-cards/EthereumBlockchain.js
  frontend/src/components/stream-cards/EthereumTXPool.js
Labels: frontend, backend

#177 Allow any subscription type to be created from welcome screen
  frontend/pages/welcome.js
Labels: enhancement, frontend

#199 Product page text alignment
  frontend/pages/product/index.js
Labels: frontend

#200 CMC parser checks address and label exists
  crawlers/mooncrawl/mooncrawl/identity.py
  crawlers/mooncrawl/sample.env
Labels: crawlers

#201 fixed address_info response schema
  backend/moonstream/actions.py
  backend/moonstream/data.py
  backend/moonstream/routes/address_info.py
  backend/moonstream/routes/txinfo.py
Labels: backend
