Repository moonstream-to/api, pull requests merged in 2022-03, with the labels that each got.

#560 Moonstreamdb with read only
  db/configs/docker_generate_env.bash
  db/configs/sample.env
  db/moonstreamdb/db.py
  db/moonstreamdb/version.py
Labels: db

#550 Add sql execution endpoint
  backend/configs/docker_generate_env.bash
  backend/configs/sample.env
  backend/moonstreamapi/actions.py
  backend/moonstreamapi/api.py
  backend/moonstreamapi/data.py
  backend/moonstreamapi/routes/queries.py
  backend/moonstreamapi/settings.py
  backend/moonstreamapi/text_actions.py
  backend/moonstreamapi/version.py
  backend/setup.py
  crawlers/mooncrawl/mooncrawl/api.py
  crawlers/mooncrawl/mooncrawl/data.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/mooncrawl/stats_worker/queries.py
  crawlers/mooncrawl/mooncrawl/stats_worker/test_queries.py
  crawlers/mooncrawl/mooncrawl/version.py
  crawlers/mooncrawl/sample.env
  crawlers/mooncrawl/setup.py
Labels: backend, crawlers

#557 Ldb blockchain crawler
  .gitignore
  crawlers/ldb/cmd/actions.go
  crawlers/ldb/cmd/cli.go
  crawlers/ldb/cmd/connections.go
  crawlers/ldb/cmd/data.go
  crawlers/ldb/cmd/reporter.go
  crawlers/ldb/configs/settings.go
  crawlers/ldb/go.mod
  crawlers/ldb/go.sum
  crawlers/ldb/main.go
  crawlers/ldb/sample.env
  nodes/deploy/ethereum/deploy.bash
  nodes/deploy/polygon/deploy.bash
Labels: crawlers

#572 Moonstream db status server response with polygon block
  db/server/cmd/data.go
  db/server/cmd/db.go
  db/server/cmd/routes.go
  db/server/configs/settings.go
  db/server/dev.sh
  db/server/sample.env
Labels: db

#573 Updated status page for monitoring server
  frontend/pages/status/index.js
  frontend/sample.env
  frontend/src/core/hooks/useStatus.js
  frontend/src/core/services/status.service.js
Labels: frontend
