Repository moonstream-to/api, pull requests merged in 2022-01, with the labels that each got.

#517 Automatically change copyright year
  frontend/src/components/Footer.js
Labels: frontend

#518 Flow diagram improvements
  frontend/src/components/CheckboxABI.js
  frontend/src/components/SchematicPlayground.js
Labels: frontend

#521 Dashboarsd transaction rollback
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
Labels: crawlers

#522 Remove heavy metrics generation.
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
Labels: crawlers

#516 Refresh dashboard stats
  backend/moonstreamapi/abi_decoder.py
  backend/moonstreamapi/actions.py
  backend/moonstreamapi/admin/cli.py
  backend/moonstreamapi/admin/subscriptions.py
  backend/moonstreamapi/api.py
  backend/moonstreamapi/data.py
  backend/moonstreamapi/middleware.py
  backend/moonstreamapi/providers/__init__.py
  backend/moonstreamapi/providers/bugout.py
  backend/moonstreamapi/providers/moonworm_provider.py
  backend/moonstreamapi/providers/transactions.py
  backend/moonstreamapi/routes/address_info.py
  backend/moonstreamapi/routes/dashboards.py
  backend/moonstreamapi/routes/streams.py
  backend/moonstreamapi/routes/subscriptions.py
  backend/moonstreamapi/routes/txinfo.py
  backend/moonstreamapi/routes/users.py
  backend/moonstreamapi/routes/whales.py
  backend/moonstreamapi/settings.py
  backend/moonstreamapi/stream_queries.py
  backend/moonstreamapi/test_actions_abi_validations.py
  crawlers/mooncrawl/mooncrawl/api.py
  crawlers/mooncrawl/mooncrawl/data.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/SubscriptionReport.js
  frontend/src/core/hooks/useDashboard.js
  frontend/src/core/hooks/usePresignedURL.js
  frontend/src/core/services/dashboard.service.js
Labels: frontend, backend, crawlers

#529 Fix keys
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  frontend/src/components/SubscriptionReport.js
Labels: frontend, crawlers

#515 Ethereum nodes deploy as polygon
  nodes/deploy/ethereum/deploy.bash
  nodes/deploy/ethereum/geth.service
  nodes/deploy/ethereum/moonstreamnodes.service
  nodes/deploy/ethereum/node-status.service
  nodes/deploy/ethereum/nodes-connections.bash
  nodes/deploy/ethereum/parameters.bash
  nodes/deploy/polygon/bor.service
  nodes/deploy/polygon/deploy.bash
  nodes/deploy/polygon/moonstreamnodes.service
  nodes/deploy/polygon/node-status.service
  nodes/deploy/polygon/nodes-connections.bash
  nodes/deploy/polygon/parameters.bash
  nodes/deploy/polygon/variables.env
  nodes/server/cmd/routes.go
  nodes/server/configs/settings.go
  nodes/server/sample.env
Labels: deployment

#519 Node balancer re-use client hot node
  crawlers/deploy/ethereum-synchronize.service
  nodes/node_balancer/cmd/balancer.go
  nodes/node_balancer/cmd/clients.go
  nodes/node_balancer/cmd/clients_test.go
  nodes/node_balancer/cmd/data.go
  nodes/node_balancer/cmd/middleware.go
  nodes/node_balancer/cmd/routes.go
  nodes/node_balancer/cmd/server.go
  nodes/node_balancer/configs/settings.go
Labels: backend, infra

#533 added few checks for undefined before map
  frontend/pages/dashboard/[dashboardId].js
  frontend/src/components/Report.js
  frontend/src/components/SubscriptionReport.js
Labels: fix

#532 Heimdall now work via nodebalancer
  crawlers/deploy/ethereum-synchronize.service
  crawlers/deploy/polygon-synchronize.service
  nodes/deploy/ethereum/deploy.bash
  nodes/deploy/polygon/deploy.bash
Labels: infra

#538 Typo at node status service file
  nodes/deploy/ethereum/node-status.service
Labels: infra

#539 Client id to work with node balancer
  crawlers/deploy/ethereum-missing.service
  crawlers/deploy/ethereum-synchronize.service
  crawlers/deploy/polygon-missing.service
  crawlers/deploy/polygon-moonworm-crawler.service
  crawlers/deploy/polygon-synchronize.service
  crawlers/mooncrawl/mooncrawl/blockchain.py
  crawlers/mooncrawl/mooncrawl/contract/cli.py
  crawlers/mooncrawl/mooncrawl/crawler.py
  crawlers/mooncrawl/mooncrawl/moonworm_crawler/cli.py
  crawlers/mooncrawl/mooncrawl/moonworm_crawler/continuous_crawler.py
  crawlers/mooncrawl/mooncrawl/nft/cli.py
  crawlers/mooncrawl/mooncrawl/settings.py
  crawlers/mooncrawl/mooncrawl/stats_worker/dashboard.py
  nodes/node_balancer/cmd/middleware.go
  nodes/node_balancer/configs/settings.go
Labels: crawlers

#547 Dasboard update timer modified from 15m -> 6h
  crawlers/deploy/polygon-statistics.service
  crawlers/deploy/polygon-statistics.timer
Labels: crawlers
